body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10;
  /*드래그 방지*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  margin-bottom: auto;
  order: -1; /* 제일 위로 */
}

div {
  width: 100%;
  display: flex; /* 추가된 부분: 내부의 자식 요소들을 flex로 배치하기 위해 */
  justify-content: center; /* 추가된 부분: 가로 방향으로 중앙 정렬 */
  align-self: flex-start; /* 추가된 부분: 세로 방향으로 상단에 정렬 */
}

button {
  padding: 3% 5%;
  margin: 3% 5px 5px 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357b38;
}

/* 미디어 쿼리를 사용하여 화면 크기에 따라 스타일 조절 */
@media (max-width: 620px) {
  canvas {
    width: 100%; /* 추가된 부분: 화면이 620px 이하일 때 canvas의 너비를 100%로 설정합니다. */
  }

  button {
    font-size: 14px; /* 추가된 부분: 버튼의 폰트 크기를 작게 조절합니다. */
    padding: 3% 5%;
  }
}
